# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.

[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[project]
name = "mscclpp"
version = "0.5.1"

[tool.scikit-build]
cmake.minimum-version = "3.25.0"
build-dir = "build/{wheel_tag}"
wheel.packages = ["python/mscclpp", "python/mscclpp_benchmark"]
wheel.install-dir = "mscclpp"

[tool.scikit-build.cmake.define]
BUILD_PYTHON_BINDINGS = "ON"
BUILD_TESTS = "OFF"

[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
