parameters:
- name: subscription
  type: string
- name: vmssName
  type: string
- name: sshKeySecureFile
  type: string

steps:
- task: Bash@3
  name: Build
  displayName: Build
  inputs:
    targetType: 'inline'
    script: |
      mkdir build && cd build
      cmake -DCMAKE_BUILD_TYPE=Release ..
      make -j
      pip install ..
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: PyTests
  displayName: Run pytests
  inputs:
    targetType: inline
    script: |
      mpirun --allow-run-as-root -tag-output -x MSCCLPP_HOME=/root/mscclpp -np 8 python3 -m pytest ./python/test/test_mscclpp.py -x"'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
