parameters:
- name: subscription
  type: string
- name: vmssName
  type: string
- name: sshKeySecureFile
  type: string
- name: platform
  type: string
  default: 'cuda'
- name: gpuArch
  type: string
variables:
- group: mscclpp

steps:
- task: Bash@3
  name: Build
  displayName: Build
  inputs:
    targetType: 'inline'
    script: |
      mkdir build && cd build
      if [ "${{ parameters.platform }}" == "rocm" ]; then
        CXX=/opt/rocm/bin/hipcc cmake -DCMAKE_BUILD_TYPE=Release -DMSCCLPP_BYPASS_GPU_CHECK=ON -DMSCCLPP_USE_ROCM=ON -DMSCCLPP_BUILD_TESTS=ON -DMSCCLPP_GPU_ARCHS=${{ parameters.gpuArch }} ..
      else
        cmake -DCMAKE_BUILD_TYPE=Release -DMSCCLPP_BYPASS_GPU_CHECK=ON -DMSCCLPP_USE_CUDA=ON -DMSCCLPP_BUILD_TESTS=ON -DMSCCLPP_GPU_ARCHS=${{ parameters.gpuArch }} ..
      fi
      make -j
      cd ..
      mkdir build_coverage && cd build_coverage
      if [ "${{ parameters.platform }}" == "rocm" ]; then
        CXX=/opt/rocm/bin/hipcc cmake -DCMAKE_BUILD_TYPE=Debug -DMSCCLPP_BYPASS_GPU_CHECK=ON -DMSCCLPP_USE_ROCM=ON -DMSCCLPP_BUILD_TESTS=ON -DMSCCLPP_GPU_ARCHS=${{ parameters.gpuArch }} -DMSCCLPP_ENABLE_COVERAGE=ON ..
      else
        cmake -DCMAKE_BUILD_TYPE=Debug -DMSCCLPP_BYPASS_GPU_CHECK=ON -DMSCCLPP_USE_CUDA=ON -DMSCCLPP_BUILD_TESTS=ON -DMSCCLPP_GPU_ARCHS=${{ parameters.gpuArch }} -DMSCCLPP_ENABLE_COVERAGE=ON ..
      fi
      make -j
      cd ..
      pwd > build_coverage/BUILD_PREFIX
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: DownloadSecureFile@1
  name: SshKeyFile
  displayName: Download key file
  inputs:
    secureFile: ${{ parameters.sshKeySecureFile }}

- task: Bash@3
  name: InstallPackages
  displayName: Install Packages
  inputs:
    targetType: 'inline'
    script: |
      sudo apt-get update -y
      sudo apt-get install pssh -y
      curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

- task: AzureCLI@2
  name: StartVMSS
  displayName: Start VMSS
  inputs:
    azureSubscription: ${{ parameters.subscription }} 
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az vmss start --name ${{ parameters.vmssName }}  --resource-group mscclpp

- task: Bash@3
  name: DeployTestEnv
  displayName: Deploy Test Env
  inputs:
    targetType: filePath
    filePath: test/deploy/deploy.sh
    arguments: "single-node-test true ${{ parameters.platform }}"
    workingDirectory: '$(System.DefaultWorkingDirectory)'


- task: Bash@3
  name: UnitTests
  displayName: Run mscclpp unit tests
  inputs:
    targetType: inline
    script: |
      set -e
      HOSTFILE=$(System.DefaultWorkingDirectory)/test/deploy/hostfile_ci
      SSH_OPTION="StrictHostKeyChecking=no"
      KeyFilePath=${SSHKEYFILE_SECUREFILEPATH}
      : > azureuser@10.0.0.4
      tail -f azureuser@10.0.0.4 &
      CHILD_PID=$!
      parallel-ssh -t 0 -h ${HOSTFILE} -x "-i ${KeyFilePath}" -o .    \
        -O $SSH_OPTION 'sudo docker exec -t mscclpp-test bash -c "    \
        cd /root/mscclpp;                                             \
        export LD_LIBRARY_PATH=/root/mscclpp/build/lib:\$LD_LIBRARY_PATH; \
        ./build/bin/unit_tests"'
      kill $CHILD_PID
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: MpUnitTests
  displayName: Run mscclpp multi-process unit tests
  inputs:
    targetType: 'inline'
    script: |
      set -e
      HOSTFILE=$(System.DefaultWorkingDirectory)/test/deploy/hostfile_ci
      SSH_OPTION="StrictHostKeyChecking=no"
      KeyFilePath=${SSHKEYFILE_SECUREFILEPATH}
      : > azureuser@10.0.0.4
      tail -f azureuser@10.0.0.4 &
      CHILD_PID=$!
      parallel-ssh -t 0 -h ${HOSTFILE} -x "-i ${KeyFilePath}" -o .    \
        -O $SSH_OPTION 'sudo docker exec -t mscclpp-test bash -c "    \
        export PATH=/usr/local/mpi/bin:\$PATH;                        \
        cd /root/mscclpp;                                             \
        export LD_LIBRARY_PATH=/root/mscclpp/build/lib:\$LD_LIBRARY_PATH; \
        mpirun --allow-run-as-root -tag-output -np 2 ./build/bin/mp_unit_tests;  \
        mpirun --allow-run-as-root -tag-output -np 4 ./build/bin/mp_unit_tests;  \
        mpirun --allow-run-as-root -tag-output -np 8 ./build/bin/mp_unit_tests"'
      kill $CHILD_PID
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: TestsCoverageNonPerf
  displayName: Run unit_tests + mp_unit_tests (non-perf) with coverage
  inputs:
    targetType: 'inline'
    script: |
      set -e
      HOSTFILE=$(System.DefaultWorkingDirectory)/test/deploy/hostfile_ci
      SSH_OPTION="StrictHostKeyChecking=no"
      KeyFilePath=${SSHKEYFILE_SECUREFILEPATH}
      : > azureuser@10.0.0.4
      tail -f azureuser@10.0.0.4 &
      CHILD_PID=$!
      parallel-ssh -t 0 -h ${HOSTFILE} -x "-i ${KeyFilePath}" -o .    \
        -O $SSH_OPTION 'sudo docker exec -t mscclpp-test bash -c "    \
        export PATH=/usr/local/mpi/bin:\$PATH;                        \
        cd /root/mscclpp;                                             \
        BUILD_PREFIX=\$(cat build_coverage/BUILD_PREFIX);             \
        STRIP_COUNT=\$(echo \$BUILD_PREFIX | tr -cd / | wc -c);      \
        export GCOV_PREFIX=/root/mscclpp;                             \
        export GCOV_PREFIX_STRIP=\$STRIP_COUNT;                      \
        export LD_LIBRARY_PATH=/root/mscclpp/build_coverage/lib:\$LD_LIBRARY_PATH; \
        ./build_coverage/bin/unit_tests;                              \
        mpirun --allow-run-as-root -tag-output -np 2 ./build_coverage/bin/mp_unit_tests --exclude-perf-tests;  \
        mpirun --allow-run-as-root -tag-output -np 4 ./build_coverage/bin/mp_unit_tests --exclude-perf-tests;  \
        cd build_coverage;                                            \
        lcov --directory . --capture --output-file coverage.info;  \
        lcov --remove coverage.info '/usr/*' '*/test/*' '*/build/*' '*/nlohmann/*' '*/_deps/*' --output-file coverage.info;  \
        lcov --list coverage.info"'
      kill $CHILD_PID
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: FetchCoverage
  displayName: Fetch coverage data from remote VM
  inputs:
    targetType: 'inline'
    script: |
      set -e
      HOSTFILE=$(System.DefaultWorkingDirectory)/test/deploy/hostfile_ci
      SSH_OPTION="StrictHostKeyChecking=no"
      KeyFilePath=${SSHKEYFILE_SECUREFILEPATH}
      HOST=$(head -1 ${HOSTFILE})
      ssh -i ${KeyFilePath} -o ${SSH_OPTION} ${HOST} \
        'sudo docker cp mscclpp-test:/root/mscclpp/build_coverage/coverage.info /tmp/coverage.info'
      scp -i ${KeyFilePath} -o ${SSH_OPTION} ${HOST}:/tmp/coverage.info $(System.DefaultWorkingDirectory)/coverage.info
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: UploadCodecov
  displayName: Upload coverage to Codecov
  inputs:
    targetType: 'inline'
    script: |
      set -e
      curl -Os https://cli.codecov.io/latest/linux/codecov
      chmod +x codecov
      ./codecov upload-process --disable-search -t $(CODECOV_TOKEN) -f coverage.info --flag ${{ parameters.platform }}-${{ parameters.gpuArch }}
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: PyTests
  displayName: Run pytests
  inputs:
    targetType: inline
    script: |
      set -e
      HOSTFILE=$(System.DefaultWorkingDirectory)/test/deploy/hostfile_ci
      SSH_OPTION="StrictHostKeyChecking=no"
      KeyFilePath=${SSHKEYFILE_SECUREFILEPATH}
      : > azureuser@10.0.0.4
      tail -f azureuser@10.0.0.4 &
      CHILD_PID=$!
      parallel-ssh -t 0 -h ${HOSTFILE} -x "-i ${KeyFilePath}" -o .     \
        -O $SSH_OPTION 'sudo docker exec -t mscclpp-test bash -c "     \
        export PATH=/usr/local/mpi/bin:\$PATH                          \
        export LD_LIBRARY_PATH=/root/mscclpp/build/lib:\$LD_LIBRARY_PATH;  \
        cd /root/mscclpp;                                              \
        mpirun --allow-run-as-root -tag-output -x MSCCLPP_HOME=/root/mscclpp -x GPU_MAX_HW_QUEUES=8 -np 8 python3 -m pytest ./python/test/test_mscclpp.py -x"'
      kill $CHILD_PID
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: AzureCLI@2
  name: StopVMSS
  displayName: Deallocate VMSS
  condition: always()
  inputs:
    azureSubscription: ${{ parameters.subscription }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az vmss deallocate --name ${{ parameters.vmssName }} --resource-group mscclpp
