trigger:
- main

pr:
  branches:
    include:
    - main
  drafts: false

pool:
  name: mscclpp
container:
  image: ghcr.io/microsoft/mscclpp/mscclpp:base-cuda12.1
  options: --privileged --ipc=host --gpus=all --ulimit memlock=-1:-1

steps:
- task: Bash@3
  name: Build
  displayName: Build
  inputs:
    targetType: 'inline'
    script: |
      curl -L https://github.com/Kitware/CMake/releases/download/v3.26.4/cmake-3.26.4-linux-x86_64.tar.gz -o /tmp/cmake-3.26.4-linux-x86_64.tar.gz
      tar xzf /tmp/cmake-3.26.4-linux-x86_64.tar.gz -C /tmp
      mkdir build && cd build
      MPI_HOME=/usr/local/mpi /tmp/cmake-3.26.4-linux-x86_64/bin/cmake -DCMAKE_BUILD_TYPE=Release ..
      make -j
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: LockGPUClock
  displayName: Lock GPU clock frequency
  inputs:
    targetType: 'inline'
    script: |
      sudo nvidia-smi -pm 1
      for i in $(seq 0 $(( $(nvidia-smi -L | wc -l) - 1 ))); do
        sudo nvidia-smi -ac $(nvidia-smi --query-gpu=clocks.max.memory,clocks.max.sm --format=csv,noheader,nounits -i $i | sed 's/\ //') -i $i
      done
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: AllGatherTest
  displayName: Run mscclpp AllGather test
  inputs:
    targetType: 'inline'
    script: |
      set -e
      export PATH=/usr/local/mpi/bin:$PATH
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allgather_test_perf -b 1K -e 1G -f 2 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allgather_test_perf -b 1K -e 1G -f 2 -k 1 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allgather_test_perf -b 1K -e 1G -f 2 -k 2 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allgather_test_perf -b 1K -e 1G -f 2 -k 3 -o output.jsonl
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: SendRecvTest
  displayName: Run mscclpp SendRecv test
  inputs:
    targetType: 'inline'
    script: |
      set -e
      export PATH=/usr/local/mpi/bin:$PATH
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/sendrecv_test_perf -b 1K -e 1G -f 2 -o output.jsonl
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: AllReduceTest
  displayName: Run mscclpp AllReduce test
  inputs:
    targetType: 'inline'
    script: |
      set -e
      export PATH=/usr/local/mpi/bin:$PATH
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allreduce_test_perf -b 1K -e 1G -f 2 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allreduce_test_perf -b 1K -e 1G -f 2 -k 1 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allreduce_test_perf -b 1K -e 1G -f 2 -k 2 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/allreduce_test_perf -b 1K -e 1G -f 2 -k 3 -o output.jsonl
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: AllToAll
  displayName: Run mscclpp AllToAll test
  inputs:
    targetType: 'inline'
    script: |
      set -e
      export PATH=/usr/local/mpi/bin:$PATH
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/alltoall_test_perf -b 1K -e 1G -f 2 -o output.jsonl
      mpirun -np 8 --bind-to numa -x MSCCLPP_DEBUG=WARN ./build/test/mscclpp-test/alltoall_test_perf -b 1K -e 1G -f 2 -k 1 -o output.jsonl
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: CheckPerfNumber
  displayName: Check collective primitives performance
  inputs:
    targetType: 'inline'
    script: |
      set -e
      python3 test/mscclpp-test/check_perf_result.py --perf-file output.jsonl --baseline-file test/deploy/perf_ndmv4.jsonl
    workingDirectory: '$(System.DefaultWorkingDirectory)'
