trigger:
- main

pr:
- main

pool:
  name: mscclpp
container:
  image: superbench/superbench:v0.8.0-cuda12.1
  options: --privileged --ipc=host --gpus=all --ulimit memlock=-1:-1

steps:
- task: Bash@3
  name: Build
  displayName: Build
  inputs:
    targetType: 'inline'
    script: |
      curl -L -C- https://github.com/Kitware/CMake/releases/download/v3.26.4/cmake-3.26.4-linux-x86_64.tar.gz -o /tmp/cmake-3.26.4-linux-x86_64.tar.gz
      tar xzf /tmp/cmake-3.26.4-linux-x86_64.tar.gz -C /tmp
      export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda-12.1/compat/lib.real
      mkdir build && cd build
      /tmp/cmake-3.26.4-linux-x86_64/bin/cmake ..
      make -j
    workingDirectory: '$(System.DefaultWorkingDirectory)'


- task: Bash@3
  name: UnitTests
  displayName: Run mscclpp unit tests
  inputs:
    targetType: 'inline'
    script: |
      ./build/test/unit_tests
    workingDirectory: '$(System.DefaultWorkingDirectory)'

- task: Bash@3
  name: MpUnitTests
  displayName: Run mscclpp multi-process unit tests
  inputs:
    targetType: 'inline'
    script: |
      mpirun -tag-output -np 2 ./build/test/mp_unit_tests
      mpirun -tag-output -np 4 ./build/test/mp_unit_tests
      mpirun -tag-output -np 8 ./build/test/mp_unit_tests
    workingDirectory: '$(System.DefaultWorkingDirectory)'
