trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - .devcontainer/**
    - .github/**
    - apps/**
    - docker/**
    - docs/**
    - '**/*.md'

pr:
  branches:
    include:
    - main
    - release/*
  drafts: false
  paths:
    exclude:
      - .devcontainer/**
      - .github/**
      - apps/**
      - docker/**
      - docs/**
      - '**/*.md'

jobs:
- job: UnitTestNoIBEnv
  displayName: Test No IB Environment
  strategy:
    matrix:
      cuda12.4:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  pool:
    name: msccl-ci
  container:
    image: $[ variables['containerImage'] ]
    options: --ipc=host --gpus=all --security-opt seccomp=unconfined --mount type=tmpfs,destination=/dev/infiniband --mount type=tmpfs,destination=/sys/class/infiniband --mount type=tmpfs,destination=/sys/class/infiniband_verbs

  steps:
  - template: templates/ut-no-ib-env.yaml
    parameters:
      subscription:     mscclpp-ci
      vmssName:         mscclpp-ci
      sshKeySecureFile: mscclpp.pem
