trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - .devcontainer/**
    - .github/**
    - apps/**
    - docker/**
    - docs/**
    - '**/*.md'

pr:
  branches:
    include:
    - main
    - release/*
  drafts: false
  paths:
    exclude:
      - .devcontainer/**
      - .github/**
      - apps/**
      - docker/**
      - docs/**
      - '**/*.md'

jobs:
- job: UnitTestNoIBEnv
  displayName: Test No IB Environment
  pool:
    name: msccl-ci

  strategy:
    matrix:
      cuda12:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  container:
    image: $(containerImage)
    
  steps:
  - template: templates/ut-no-ib-env.yaml
    parameters:
      subscription:     mscclpp-ci
      vmssName:         mscclpp-ci
      sshKeySecureFile: mscclpp.pem
