trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - .devcontainer/**
    - .github/**
    - apps/**
    - docker/**
    - docs/**
    - '**/*.md'

pr:
  branches:
    include:
    - main
    - release/*
  drafts: false
  paths:
    exclude:
      - .devcontainer/**
      - .github/**
      - apps/**
      - docker/**
      - docs/**
      - '**/*.md'

jobs:
- job: UnitTestA100
  timeoutInMinutes: 40
  pool:
    name: msccl-ci
  strategy:
    matrix:
      cuda11:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda11.8
      cuda12:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  container:
    image: $(containerImage)

  steps:
  - template: templates/ut.yaml
    parameters:
      subscription:     mscclpp-ci
      vmssName:         mscclpp-ci
      sshKeySecureFile: mscclpp.pem

- job: UnitTestWithNpKitA100
  timeoutInMinutes: 30
  pool:
    name: msccl-ci
  strategy:
    matrix:
      cuda11:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda11.8
      cuda12:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  container:
    image: $(containerImage)

  steps:
  - template: templates/ut-npkit.yaml
    parameters:
      subscription:     mscclpp-ci
      vmssName:         mscclpp-ci
      sshKeySecureFile: mscclpp.pem

- job: UnitTestH100
  timeoutInMinutes: 40
  pool:
    name: msccl-ci-h100
  strategy:
    matrix:
      cuda12:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  container:
    image: $(containerImage)

  steps:
  - template: templates/ut.yaml
    parameters:
      subscription:     mscclpp-ci-h100
      vmssName:         mscclpp-h100-ci
      sshKeySecureFile: mscclpp.pem

- job: UnitTestWithNpKitH100
  timeoutInMinutes: 30
  pool:
    name: msccl-ci-h100
  strategy:
    matrix:
      cuda12:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  container:
    image: $(containerImage)

  steps:
  - template: templates/ut-npkit.yaml
    parameters:
      subscription:     mscclpp-ci-h100
      vmssName:         mscclpp-h100-ci
      sshKeySecureFile: mscclpp.pem

- job: UnitTestMI300X
  timeoutInMinutes: 40
  pool:
    name: msccl-ci-mi300x
  strategy:
    matrix:
      rocm6.2:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-rocm6.2

  container:
    image: $(containerImage)

  steps:
  - template: templates/ut.yaml
    parameters:
      subscription:     mscclpp-ci-mi300x
      vmssName:         mscclpp-mi300x-ci
      sshKeySecureFile: mscclpp.pem
      platform:         rocm

- job: UnitTestNoIBEnv
  timeoutInMinutes: 40
  displayName: Test No IB Environment
  pool:
    name: msccl-ci-h100

  strategy:
    matrix:
      cuda12:
        containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4

  container:
    image: $(containerImage)

  steps:
  - template: templates/ut-no-ib-env.yaml
    parameters:
      subscription:     mscclpp-ci-h100
      vmssName:         mscclpp-h100-ci
      sshKeySecureFile: mscclpp.pem