name: Docs Build

on:
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen=1.9.1-* graphviz
          pip install -r docs/requirements.txt

      - name: Build docs
        run: |
          cd docs
          rm -rf doxygen _build py_api
          doxygen
          python3 -m pip list | grep breathe
          make html
          touch _build/html/.nojekyll
