name: MSCCLPPLang

on:
  pull_request:
    branches:
      - main
      - release/*

jobs:
  compare-diffs:
    runs-on: 'ubuntu-latest'
    container:
      image: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-${{ matrix.version }}

    strategy:
        fail-fast: false
        matrix:
          version: [ 'cuda11.8', 'cuda12.8' ]

    steps:
    - uses: actions/checkout@v4

    - name: Set environment variable
      run: echo "LD_LIBRARY_PATH=/usr/local/cuda/compat:/usr/local/cuda/lib64" >> $GITHUB_ENV

    - name: Install mscclpp
      run: |
        CMAKE_ARGS="-DMSCCLPP_BYPASS_GPU_CHECK=ON -DMSCCLPP_USE_CUDA=ON" pip3 install .

    # - name: Copy test script/config to temp directory
    #   run: |
    #     cp python/test/test_generate_mscclpp_lang_result.py $RUNNER_TEMP/
    #     cp python/test/configs/mscclpp_lang_test_config.json $RUNNER_TEMP/
    # - name: generate outputs
    #   run: |
    #     python3 $RUNNER_TEMP/test_generate_mscclpp_lang_result.py python/examples/ $RUNNER_TEMP/mscclpp_lang_test_config.json $RUNNER_TEMP/tests/pr-outputs/
    # - name: Checkout main branch
    #   uses: actions/checkout@v4
    #   if: github.event_name == 'pull_request' || github.event_name == 'push'
    #   with:
    #     ref: main
    # - name: Install msccl and dependencies
    #   run: |
    #     CMAKE_ARGS="-DMSCCLPP_BYPASS_GPU_CHECK=ON -DMSCCLPP_USE_CUDA=ON" pip3 install .
    # - name: generate outputs
    #   run: |
    #     python3 $RUNNER_TEMP/test_generate_mscclpp_lang_result.py python/examples/ $RUNNER_TEMP/mscclpp_lang_test_config.json $RUNNER_TEMP/tests/main-outputs/
    # - name: Compare outputs
    #   run: |
    #     diff -rw $RUNNER_TEMP/tests/main-outputs/ $RUNNER_TEMP/tests/pr-outputs/